<footer id="footer" class="footer" xmlns="http://www.w3.org/1999/html">
    <div class="container">
        <div class="row no-gutter">
            <h2>Add an XML document</h2>
            <div id="custom-search-input">
                <div class="input-group col-md-12">
                    <form action="/addResults/" method="get">
                        <input type="text" value = "{{term}}" name="filepath" id = "search" class="search-query form-control"
                               placeholder="Enter a file path e.g. folder/filename.xml">
                        <textarea name="xmldoc" id="xmladd" class="xmladd"
                                  placeholder="Enter your XML document"></textarea>
                        <!--<span class="input-group-btn">-->
                        <button class="btn" type="submit">
                        <span class=" glyphicon glyphicon-search"><div class="submitbutton"> Add </div>
                        </span>
                        </button>
                        <!--</span>-->
                    </form>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="row no-gutter">
    <div class="col-xs-12"><div class="border"></div> </div>
    <div class="col-xs-4">
        <div class="underBanner"><a href="/add/">Add</a></div>
    </div>

    <div class="col-xs-4">
        <div class="underBanner"><a href="/browse/">Browse</a></div>
    </div>

    <div class="col-xs-4">
        <div class="underBanner"><a href="/remove/">Remove</a></div>
    </div>

    <div class="col-xs-12"><div class="border"></div> </div>
</div>

{{status}}

