
<footer id="banner" class="banner" xmlns="http://www.w3.org/1999/html">
    <div class="container">
        <div class="row no-gutter">
            <h2>{{filename}}</h2>
            <div id="custom-search-input">
                <div class="input-group col-md-12">
                    <div class="searchResults">
                        {{{results}}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
