<footer id="banner" class="banner" xmlns="http://www.w3.org/1999/html">
    <div class="container">
        <div class="row no-gutter">
            <h2>Browse Directories</h2>
            <div id="custom-search-input">
                <div class="input-group col-md-12">
                    <form action="#" method="get">

                        {{#each results}}

                            <div class="col-xs-4 browse"><button type="button" class="btn btn-info button-large" onclick="location.href='{{path}}'">{{name}}</button></div>

                        {{/each}}

                    </form>
                </div>
            </div>
        </div>
    </div>
</footer>
