<footer id="footer" class="footer" xmlns="http://www.w3.org/1999/html">
    <div class="container">
        <div class="row">
            <center>
            <h2 class="largeFont">Welcome to {{title}}</h2>
                <h3>Colenso database search</h3>
            </center>
        </div>
    </div>
</footer>
<div class="row no-gutter">
    <div class="col-xs-12"><div class="border"></div> </div>
    <div class="col-xs-4">
        <div class="underBanner"><a href="/edit/">Add</a></div>
    </div>

    <div class="col-xs-4">
        <div class="underBanner"><a href="/browse/">Browse</a></div>
    </div>

    <div class="col-xs-4">
        <div class="underBanner"><a href="/remove/">Remove</a></div>
    </div>

    <div class="col-xs-12"><div class="border"></div> </div>
</div>
