<footer id="footer" class="footer" xmlns="http://www.w3.org/1999/html">
    <div class="container">
        <div class="row no-gutter">
            <h2>XQuery Search</h2>
            <div id="custom-search-input">
                <div class="input-group col-md-12">
                    <form action="/jqueryResults/" method="get">
                        <textarea name="term" id="jquery-search" class="jquery-search"
                                  placeholder="Enter exact xquery expression"></textarea>
                        <!--<span class="input-group-btn">-->
                        <button class="btn" type="submit">
                        <span class=" glyphicon glyphicon-search"><div class="submitbutton"> Submit </div>
                        </span>
                        </button>
                        <!--</span>-->
                    </form>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="row no-gutter">
    <div class="col-xs-12"><div class="border"></div> </div>
    <div class="col-xs-4">
        <div class="underBanner"><a href="/add/">Add</a></div>
    </div>

    <div class="col-xs-4">
        <div class="underBanner"><a href="/browse/">Browse</a></div>
    </div>

    <div class="col-xs-4">
        <div class="underBanner"><a href="/remove/">Remove</a></div>
    </div>

    <div class="col-xs-12"><div class="border"></div> </div>
</div>



