<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
          integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
            crossorigin="anonymous"></script>
</head>

<body>
<div class="header-colour">
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container"><a href="/" class="navbar-brand">Finder</a>
            <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse"><span
                    class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></button>
            <div class="collapse navbar-collapse navHeaderCollapse">
                <ul class=" nav navbar-nav navbar-right">
                    <li class="active"><a href="/">Home</a></li>
                    <li><a href="/searchPage/">Search</a></li>
                    <li><a href="/edit/">Add</a></li>
                    <li><a href="/jquery/">X-Query</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>


<a href="/testPage/">test page</a>
{{{body}}}
<div class="row no-gutter">

    <div class="info">
        <div class="col-xs-12 mediumFont"><div class="glyphicon glyphicon-search"></div> </div>
        <div class="col-xs-12">Welcome to Finder. Use this to site search and modify the Colenso database.
        </div>
    </div>
    <div class="col-xs-12">
        <div class="borderThin"></div>
    </div>

    <div class="info">
        <div class="col-xs-12 mediumFont">Can I browse XML?</div>
        <div class="col-xs-12">You sure can! And it works just like file explorer for windows. It has folder structure
            and hierarchy and once you've found the file you're looking for you can easily view it on this site!
        </div>
    </div>

    <div class="col-xs-12">
        <div class="borderThin"></div>
    </div>


    <div class="info">
        <div class="col-xs-12 mediumFont">Can I search XML?</div>
        <div class="col-xs-12">The main feature of this site is the search. You can search any words you like and it will
            display the XML docs that contain you search. You can also use logical operators to help you find what you're
            looking for.
        </div>
    </div>

    <div class="col-xs-12">
        <div class="borderThin"></div>
    </div>


    <div class="info">
        <div class="col-xs-12 mediumFont">Logical Operators?</div>
        <div class="col-xs-12">Logical operators are supported! If you want to use and, or, not to narrow or broaden
            your search, simply write AND, NOT, OR in your search. For example "cat AND dog OR fish NOT frog".
        </div>
    </div>
    <div class="col-xs-12">
        <div class="borderThin"></div>
    </div>

    <div class="info">
        <div class="col-xs-12 mediumFont">What about X-Query?</div>
        <div class="col-xs-12">If you wish to use a direct X-Query or X-Path search you can. There is a separate engine
            to do this and it is located in the top right corner of every page under the 'X-query' button.
        </div>
    </div>

    <div class="col-xs-12">
        <div class="borderThin"></div>
    </div>


    <div class="info">
        <div class="col-xs-12 mediumFont">Can I add my own XML?</div>
        <div class="col-xs-12">You sure can! Just like direct queries, there is a separate function for this and it is
            located in the top right corner as well, just under the 'Add' button.
        </div>
    </div>

    <div class="col-xs-12">
        <div class="borderThin"></div>
    </div>

    <div class="col-xs-12"></div>
    <div class="col-xs-12"></div>



</div>
</body>
</html>
