<footer id="footer" class="footer" xmlns="http://www.w3.org/1999/html">
    <div class="container">
        <div class="row">
            <h2>Search</h2>
            <div id="custom-search-input">
                <div class="input-group col-md-12">
                    <form action="/resultsPage/" method="get">
                                <span class="input-group-btn">
                    <input type="text" value = "{{term}}" name="term" id = "search" class="search-query form-control"
                           placeholder="Search">
                                    <button class="btn btn-danger" type="submit">
                                        <span class=" glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                    </form>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="row no-gutter">
    <div class="col-xs-12"><div class="border"></div> </div>
    <div class="col-xs-4">
        <div class="underBanner"><a href="/edit/">Add</a></div>
    </div>

    <div class="col-xs-4">
        <div class="underBanner"><a href="/browse/">Browse</a></div>
    </div>

    <div class="col-xs-4">
        <div class="underBanner"><a href="/remove/">Remove</a></div>
    </div>

    <div class="col-xs-12"><div class="border"></div> </div>
</div>

<!--SEARCHBOX-->
<div class="row no-gutter">
    <div class="col-xs-2">

    </div>

    <div class="col-xs-8">

        <div class="searchResults">
        Search XQuery: {{user}}
            Results returned: {{size}}
        </div>

        {{#each searchTerm}}
            <div class="searchResults">

                {{{this}}}

            </div>
        {{/each}}

    </div>

    <div class="col-xs-2">

    </div>

</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>