<footer id="footer" class="footer" xmlns="http://www.w3.org/1999/html">
    <div class="container">
        <div class="row">
            <h2>Search</h2>
            <div id="custom-search-input">
                <div class="input-group col-md-12">
                    <form action="/resultsPage/" method="get">
                                <span class="input-group-btn">
                    <input type="text" value="{{term}}" name="term" id="search" class="search-query form-control"
                           placeholder="Search">
                                    <button class="btn btn-danger" type="submit">
                                        <span class=" glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                    </form>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="row no-gutter">
    <div class="col-xs-12">
        <div class="border"></div>
    </div>
    <div class="col-xs-4">
        <div class="underBanner"><a href="/edit/">Add</a></div>
    </div>

    <div class="col-xs-4">
        <div class="underBanner"><a href="/browse/">Browse</a></div>
    </div>

    <div class="col-xs-4">
        <div class="underBanner"><a href="/remove/">Remove</a></div>
    </div>

    <div class="col-xs-12">
        <div class="border"></div>
    </div>
</div>

<div class="row no-gutter">

    <div class="info">
        <div class="col-xs-12 mediumFont"><div class="glyphicon glyphicon-search"></div> </div>
        <div class="col-xs-12">Welcome to Finder. Use this to site search and modify the Colenso database.
        </div>
    </div>
    <div class="col-xs-12">
        <div class="borderThin"></div>
    </div>

    <div class="info">
        <div class="col-xs-12 mediumFont">Can I browse XML?</div>
        <div class="col-xs-12">You sure can! And it works just like file explorer for windows. It has folder structure
            and hierarchy and once you've found the file you're looking for you can easily view it on this site!
        </div>
    </div>

    <div class="col-xs-12">
        <div class="borderThin"></div>
    </div>


    <div class="info">
        <div class="col-xs-12 mediumFont">Can I search XML?</div>
        <div class="col-xs-12">The main feature of this site is the search. You can search any words you like and it will
            display the XML docs that contain you search. You can also use logical operators to help you find what you're
            looking for.
        </div>
    </div>

    <div class="col-xs-12">
        <div class="borderThin"></div>
    </div>





</div>

