body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

p {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif ;
}

.largeFont{
  font-size: 100px;
  font-family: Verdana, Geneva, sans-serif;
}

.mediumFont{
  font-size: 30px;
  font-family: Verdana, Geneva, sans-serif;
  padding-bottom: 25px;
}

.submitbutton {
  font-size: 16px;
  font-weight: 400;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.searchResults {
  margin-top: 1em;
  padding: 1em;
  border-left-style: ridge;
  border-right-style: solid;
  border-left-width: thin;
  border-right-width: thin;
  border-right-color: #f0f0f0;
  border-left-color: #00b3ee;
  border-bottom-width: 1px;
  border-bottom-style: double;
  border-bottom-color: #f0f0f0;
  line-height: 200%;
  white-space: pre-wrap;

}

.footer {
  padding-top: 15em !important;
  margin: 0px !important;
  width: 100% !important;
  height: 50em;
  background-image: linear-gradient(90deg, #4F364C, #00ddf1);
  color: #fff;
}

.banner {
  padding-top: 15em !important;
  margin: 0px !important;
  width: 100% !important;
  height: 100% !important;
  background-image: linear-gradient(90deg, #4F364C, #00ddf1);
  color: #fff;
}

.button-large {
  color: white!important;
  height: 2em;
  padding: 15px;
  width: 220px;
}

.browse {
  text-align: center;
  font-size: large;
  color: #00CC00;
  padding: 50px;
}

.ERR {
  padding-top: 15em !important;
  padding-bottom: 15em !important;
  height: 100%;
  width: 100%;
  text-align: center;
  color: white;
  background-image: linear-gradient(90deg, #4F364C, #00ddf1);
}

.underBanner{
  /*margin: 0px !important;*/
  text-align: center;
  font-weight: 700;
  font-size: 2em;
  height: 4em;
  line-height: 4em;
  align-content: center;
  background-color: #f0f0f0;
  color: #ffffff;
}

.split {
  font-size: 120px;
  font-weight: lighter;
}

.info {
  text-align: center;
  font-weight: 400;
  font-size: 1em;
  height: 2em;
  line-height: 2em;
  align-content: center;
  background-color: #ffffff;
  color: #5a7aff;
  padding-top: 120px;
  padding-bottom: 200px;
}


#custom-search-input {
  margin:0;
  margin-top: 10px;
  padding: 0;
}

.jquery-search {
  color: #0D3349;
  width: 100%;
  border-radius: 3px;
  height: 200px;

}

.xmladd {
  color: #0D3349;
  width: 100%;
  border-radius: 3px;
  height: 250px;
}

#custom-search-input .search-query {
  padding-right: 3px;
  height: 35px;
  padding-right: 4px \9;
  padding-left: 3px;
  padding-left: 4px \9;
  /* IE7-8 doesn't have border-radius, so don't indent the padding */

  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

#custom-search-input button {
  border: 0;
  height: 35px;
  background: none;
  /** belows styles are working good */
  padding: 2px 5px;
  margin-top: 2px;
  position: relative;
  left: -28px;
  /* IE7-8 doesn't have border-radius, so don't indent the padding */
  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color:#D9230F;
}

.search-query:focus + button {
  z-index: 3;
  /*height: 100px;*/
}

.test {
  color: #0000cc;
  background-color: #00CC00;
  white-space: pre-wrap;
}

.row.no-gutter {
  margin-left: 1px;
  margin-right: 1px;
}

.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child) {
  padding-right: 1px;
  padding-left: 1px;
}

.container {
  padding: 0 !important;
}

.border {
  background-color: #f0f0f0;
  color: #ffffff;
  height: 1em;
}

.borderThin {
  background-color: #f0f0f0;
  color: #ffffff;
  height: 2px;
}